<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
     
    <section class="hero">
      <div class="hero-container">
        <div class="column-left">
          <h1>Welcome to Car Resale Value Prediction</h1>
          <p>
            With difficult economic condition, it is likely that sales of second-hand car will increase. In many developed countries, it is common to lease
a car rather than buying. In order to predict the resale value of the car we proposed a effective system based on using regression algorithms.
          </p>
       <a href ="{{ 'hai' }}">
          <button>Get Started</button></a>
        </div>
        <div class="column-right">
          <img
            src="../static/img/car%20image.jpg"
            alt="illustration
        "
            class="hero-image"
          />
        </div>
      </div>
    </section>
  </body>
</html>